// loading screen

$loading-screen-backgroundColor: #151515;
$loading-screen-squares: rgba(233, 74, 69, .5);
$loading-screen-title-color: lightgray;

//mobile navigation

$navigation-list-background: #151515;
$navigation-hamburger-color: #cccccc;
$navigation-list-element-color: #fff;
$navigation-list-element-backgroundColor: rgba(16, 172, 132, 0.7);





//box-shadow

$projects-box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.3);