.desktop-header {
  display: none;

  @include desktop {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    width: 100%;
  }

  .desktop-logo {
    font-size: 2vw;
    position: absolute;
    left: 10px;
    top: 10px;
    color: lightslategray;
  }

  .desktop-navigation {

    &__list {
      display: flex;

      &-element {
        display: block;
        padding: 10px 20px;
        font-size: 1.8vw;
        color: white;
        cursor: pointer;

      }

      &-element:hover {
        color: #38ada9;
      }
    }
  }
}